<div class="container">
    <div class="jumbotron">
        <h1><b>Need Help for Being Evicted? No Worries!</b></h1>
    </div>
    <p class="subtext">We help tenants in Fulton County who face eviction</p>
    <button mat-raised-button color="primary" (click)="go_to_helper()"><b class="button-text">View all options</b></button>

    <div class="card row-full">
        <div class="card-body">
            <p class="justify"><b>Who are we?</b></p>
            <p class="justify">We're attorneys and paralegals from <a href="https://avlf.org/" target="_blank">AVLF</a> and <a href="https://magistratefulton.org/241/Housing-Court-Assistance-Center" target="_blank">HCAC</a></p>
            <br>
            <p class="justify"><b>Privacy Concerns?</b></p>
            <p class="justify">We won't read or keep any of your information on this app.</p>
            <br>
            <p class="justify"><b>Any Cost?</b></p>
            <p class="justify">This app is free and won't charge you for any legal advice or resources.</p>
        </div>
    </div>
</div>