.container {
    width: 80%;
    padding-top: 15vh;
    text-align: center;
}

.subtext {
    margin-top: 2vh;
    font-size: 4vw;
    padding-bottom: 5vh;
}

.button-text {
    font-size: 1.75vh;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    border-radius: 0;
    border-color: black;
    background-color: #fffaec;

    margin-top: 5vh;
}

.card-body {
    text-align: center;
}

.justify {
    text-align: justify;
    margin-bottom: 0;
    font-size: 3.5vw;
}

a:link {
    color: #ffca28;
}

a:visited {
    color: #ffca28;
}

a:active {
    color: #ffca28;
}

.option-btn {
    border-radius: 1vh;
    width: 76%;
    height: 5vh;
    color: #ffca28;
}