<div class="container">
    <div class="heading">
        <h5><b>What kind of assistance do you need?</b></h5>
    </div>
    <div class="option">
        <table>
            <tr>
                <td>
                    <p class="text-justify">My landlord is <b>telling me to move out</b> and I want to know what I should expect</p>
                </td>
                <td>
                    <img class="image" src="../../../assets/intro_1.png" alt="">
                </td>
            </tr>
        </table>
        <div class="button-div">
            <button mat-button color="primary" (click)="go_to_move_out()"><b class="button-text">Get Started <mat-icon>arrow_forward</mat-icon></b></button>
        </div>
    </div>
    <div class="divider-container">
        <div class="line"><mat-divider></mat-divider></div>
        <div class="text mat-typography"><mat-icon color="primary">arrow_downward</mat-icon></div>
        <div class="line"><mat-divider></mat-divider></div>
    </div>
    <div class="option">
        <table>
            <tr>
                <td>
                    <p class="text-justify">I have <b>received an eviction notice</b> and I need to take action</p>
                </td>
                <td>
                    <img class="image" src="../../../assets/intro_2.png" alt="">
                </td>
            </tr>
        </table>
        <div class="button-div">
            <button mat-button color="primary" (click)="go_to_answer_form()"><b class="button-text">Get Started <mat-icon>arrow_forward</mat-icon></b></button>
        </div>
    </div>
    <div class="divider-container">
        <div class="line"><mat-divider></mat-divider></div>
        <div class="text mat-typography"><mat-icon color="primary">arrow_downward</mat-icon></div>
        <div class="line"><mat-divider></mat-divider></div>
    </div>
    <div class="option">
        <table>
            <tr>
                <td>
                    <p class="text-justify">I have filed an Answer and I need to <b>prepare for court</b></p>
                </td>
                <td>
                    <img class="image" src="../../../assets/intro_3.png" alt="">
                </td>
            </tr>
        </table>
        <div class="button-div">
            <button mat-button color="primary" (click)="go_to_court_date()"><b class="button-text">Get Started <mat-icon>arrow_forward</mat-icon></b></button>
        </div>
    </div>
    <div class="divider-container">
        <div class="line"><mat-divider></mat-divider></div>
        <div class="text mat-typography"><mat-icon color="primary">arrow_downward</mat-icon></div>
        <div class="line"><mat-divider></mat-divider></div>
    </div>
    <div class="option">
        <table>
            <tr>
                <td>
                    <p class="text-justify">I lost my case and I want to <b>challenge my eviction</b></p>
                </td>
                <td>
                    <img class="image" src="../../../assets/intro_1.png" alt="">
                </td>
            </tr>
        </table>
        <div class="button-div">
            <button mat-button color="primary"><b class="button-text">Get Started <mat-icon>arrow_forward</mat-icon></b></button>
        </div>
    </div>
    <hr/>
    <div class="footer">
        <p class="text-justify"><b>More Resources</b></p>
        <div class="footer-card">
            <p class="text-justify"><button mat-button><mat-icon> insert_drive_file</mat-icon> Legal Terms 101</button></p>
        </div>
        <mat-divider></mat-divider>
        <div class="footer-card">
            <p class="text-justify"><button mat-button><mat-icon>assistant</mat-icon> Rental Assistance</button></p>
        </div>
        <mat-divider></mat-divider>
        <div class="footer-card">
            <p class="text-justify"><button mat-button><mat-icon>question_answer</mat-icon> FAQ</button></p>
        </div>
    </div>
</div>