<div class="container">
    <h4 class="content">File with eFileGA</h4>
    <div>
        <p class="text-justify">
            I am a Fulton County resident, and I wish to file the answer online with a processing fee of $14.
        </p>
    </div>
    <br>
    <div class="button-div">
        <button mat-raised-button style="float: left;" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" style="float: right;" (click)="go_to_efile()">Proceed</button>
    </div>
</div>