<div class="container">
    <button mat-button (click)="go_to_helper()"><mat-icon>arrow_back_ios</mat-icon><b>Back</b></button>
    <div class="image-container">
        <img class="image" src="../../../assets/intro_3.png" alt="">
    </div>
    <div class="heading">
        <h3><b>I need to prepare for court hearing...</b></h3>
    </div>
    <p class="text-justify">Anxious about representing yourself at court? Let's get ready now!</p>
    <br>
    <p class="text-justify gray"><b>Show up on time</b></p>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-1.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>When is my court date?</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        Call the Fulton County Magistrate Court Dispossessory Division (404-613-5360) or check the court
                        database twice a week to check for your court date and courtroom.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-2.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>What if I can't make it to court on that day?</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        If you don't show up, you will receive a Default Judgment. This means that the court will
                        immediately approve a Writ of Possession for your landlord to evict you, and you will be
                        required to pay the full amount your landlord claims you owe.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <br>
    <br>
    <p class="text-justify gray"><b>Prepare for court</b></p>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-3.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>How to prepare evidence</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        Keep any and all evidence you have. Your dispossessory warrant, a copy of your lease,
                        photographs, printed screenshots of texts or emails, paperwork, or subpoenaed witnesses. Be sure
                        your evidence is ready and organized so you can present it to a judge or in mediation quickly
                        when asked. You may upload them into system before the court date.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-4.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>Remember to set aside time for your court</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        Set aside the whole morning or afternoon for your court day. There is no way to say for sure how
                        long it can take. There are many cases happening at the same time, and there can be unexpected
                        delays.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <br>
    <br>
    <p class="text-justify gray"><b>Court day</b></p>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-5.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>What is going to happen in court?</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        When you appear in court, you will first go to mediation to resolve your case without a judge.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-6.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>What does it mean to sign an agreement?</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        If you reach an agreement with your landlord in mediation, the mediator will write it down, and
                        you, the landlord, and the judge will sign the agreement.
                    </p>
                    <br>
                    <p class="text-justify">
                        You have to keep your end of the agreement or you may risk eviction.
                    </p>
                    <br>
                    <p class="text-justify">
                        Remember! Once you sign the agreement, it is binding and cannot be appealed or changed after the
                        fact. Be sure you can live with the terms before signing it.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-7.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>When will I see a judge?</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        If you do not reach an agreement in mediation , you will return to the courtroom and go before a
                        judge on the same day.
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="checkbox-div">
        <section>
            <tr>
                <td>
                    <img src="../../../../assets/court-8.png" class="td-img" alt="Photo of a Shiba Inu">
                </td>
                <td style="width: 85%; padding-right: 3vh;">
                    <p class="text-justify"><b>Represent myself in court</b></p>
                    <div class="div-tr"></div>
                    <div class="div-tr"></div>

                    <p class="text-justify">
                        It can be intimidating to represent yourself in court, but remember that you have the right to
                        be there contesting your eviction!
                    </p>
                    <br>
                    <p class="text-justify">
                        Here are some tips on how to represent yourself in court:
                    </p>
                    <br>
                    <p class="text-justify">
                        1. Have all your evidence organized and ready
                    </p>
                    <br>
                    <p class="text-justify">
                        2. Listen carefully to what the judge is saying
                    </p>
                    <br>
                    <p class="text-justify">
                        3. When the landlord or the judge is speaking, do not interrupt. You will have your turn to
                        speak. Take notes so you can remember!
                    </p>
                </td>
            </tr>
        </section>
    </div>
    <mat-divider></mat-divider>
    <br>
    <br>
    <div class="button-div">
        <button mat-button color="primary" style="float: left;"><b class="button-text">Challenge My
                Eviction<mat-icon>arrow_forward</mat-icon></b></button>
        <button mat-button style="float: right;" (click)="go_to_home()"><mat-icon>home</mat-icon>Home</button>
    </div>
</div>