<div class="container">
    <br>
    <br>
    <p class="text-justify big pad"><b>File and Answer</b></p>
    <div class="div-tr"></div>
    <td width="90%">
        <select class="form-select" [(ngModel)]="selected">
            <option value="getting-started">1 - Getting Started</option>
            <option value="tenancy">2 - About your tenancy</option>
            <option value="defenses">3 - Defenses and Counterclaims</option>
            <option value="final-check">4 - Final Check</option>
        </select>
    </td>
    <td width="5%"></td>
    <td>
        <button mat-button color="primary" (click)="open_exit_dialog()"><b>Exit</b></button>
    </td>
    <div class="div-tr"></div>
    <mat-divider></mat-divider>
    <div class="content" *ngIf="selected === 'getting-started'">
        <app-getting-started></app-getting-started>
    </div>
    <div class="content" *ngIf="selected === 'tenancy'">
        <app-tenancy></app-tenancy>
    </div>
    <div class="content" *ngIf="selected === 'defenses'">
        <app-defenses></app-defenses>
    </div>
    <div class="content" *ngIf="selected === 'final-check'">
        <app-final-check></app-final-check>
    </div>
</div>